.category-link a{
    text-decoration: none;
}
ul li a{
    text-decoration: none
}

.profile-info img{
    width:50%;
    height:50%;
}
.btn-small a{
    text-decoration: none
}
a{
    text-decoration: none
}